*{
    padding: 0;
    text-decoration: none;
    margin: 0;
    border: 0;
}
:root{
    --pf: 5rem;
    --cor1: #F06024;
    --cor2: #F8BB6C;
    --cor3: #174056;
    --cor4: #70DBE5;
    --cor5: #14101F;
    --cor6: #F7F7EE;
}
#mainchat{
    margin-top: 15px;
    width: 100%;
    height: auto;
}
#chatAmigos{
    border-radius: 20px;
    width: 25%;
    height: 100%;
    background-color: #FFFF;
}
hr{
    margin: auto;
    width: 90%;
    height: 0.5px;
    background-color: #14101f7d;
}
.user{
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    color: var(--cor5);
    width: 90%;
    height: 5rem;
    /* background-color:#17405649; */
    font-size: var(--fs-400);
    cursor: pointer ;
    transition: all 0.3s;
}
.user:hover{
    background-color: #f06124e1;
    color: #F7F7EE;
}
.userPF{
    width: var(--pf);
    height: var(--pf);
    border-radius: 50%;
}
.mask{
    clip-path: circle();
    height: 4rem;
    

}

.userPhoto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.userPhoto{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: brown; */
    justify-content: space-around;
}
.userSt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    width: 70%;
    height: 100%;
    /* background-color: rgb(50, 82, 82); */
    font-size: 13px;
}
.userSt h3{
    width: 100%;
    /* background-color: aquamarine; */
}
.userSt p{
    width: 100%;
}



