*{
    padding: 0;
    text-decoration: none;
    margin: 0;
    border: 0;
}
:root{
    --pf: 5rem;
    --cor1: #F06024;
    --cor2: #F8BB6C;
    --cor3: #174056;
    --cor4: #70DBE5;
    --cor5: #14101F;
    --cor6: #F7F7EE;
}
#chatAmigos{
    width: 30%;
    height: 100%;
    background-color: var(--cor1);
}
.user{
    position: relative;
    display: flex;
    align-items: center;
    color: antiquewhite;
    width: 100%;
    height: 8rem;
    /* background-color:#17405649; */
    font-size: var(--fs-400);
}
.user:hover{
    background-color: var(--cor4);
}
.userPF{
    width: var(--pf);
    height: var(--pf);
    border-radius: 50%;
    background-color: rgb(30, 145, 145);
}
.userPhoto img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.userPhoto{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    /* background-color: brown; */
    justify-content: space-around;
}
.userSt{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    width: 70%;
    height: 100%;
    /* background-color: rgb(50, 82, 82); */
    font-size: 20px;
}
.userSt h3{
    width: 100%;
    /* background-color: aquamarine; */
}
.userSt p{
    width: 100%;
}



