main {
    width: 90vw;
    padding-top: 0.5rem;
    margin: auto;
    height: 90vh;
    
    /* background-color: #c3b3b3; */
    backdrop-filter: blur(0.5rem);
    display: flex;
    position: relative;
}
@media (min-width: 1000px) and (max-width: 1500px) {
    main {
        width: 100%;
    }
}
@media (min-width: 450px) and (max-width: 999px) {
    main {
        width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 449px) {
    main {
        width: 100%;
    }
}
