.fundo{
    width: 100vw;
    height: 100vh;
    background-image: url(../../../img/FundoLogin.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 50vh 50vh;
    grid-template-areas:
                    "L" "C"
                    "B" "C"   ;
    
}

.logoCadastro{
    grid-area: L;
    background-color: black;
    z-index: 1;
    width: 100%;
}

.crieSpan{
    grid-area: B;
    background-color: brown;
    z-index: 2;
}

.telaCadastro{
    width: 100%;
    grid-area: C;
    background-color: aqua;
}
