.DivMeio{
    position: relative;
    height: 84vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.MeioBaixo{
    width: 27vw;
    height: 84vh;
    background-color: rgba(255, 255, 255, 0.826);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.TextoIniciar{
    font-size: 30px;
    text-align: center;
    padding-top: 7vh;
    padding-bottom: 2vh;
}

.Manter{
    padding: 1rem 0 1.8rem 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 81%;
}

.Manter label{
    padding-left: 0.5rem;
    cursor: pointer;
}

.EsqSenha, .CrieConta{
    text-decoration: none;
    color:#646464;
}

.setaAcc{
    margin-left:10px;
}

.EsqSenha{
    padding-top: 1rem;
    position: relative;
}

.EsqSenha:after{
    content: "";
    position: absolute;
    background-color: #F06024;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}
.EsqSenha:hover{
    color: #000;
}

.EsqSenha:hover:after{
    width: 100%;
}

.CrieConta{
    position: relative;
}

.CrieConta:after{
    content: "";
    position: absolute;
    background-color: #F06024;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}
.CrieConta:hover{
    color: #000;
}

.CrieConta:hover:after{
    width: 100%;
}