.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    justify-content: space-between;
}

.header .logo {
    width: 125px;
    height: 35px;
}

.pesquisa {
    background-color: #efefef;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    gap: 0.5rem;
    margin-left: 5rem;
    width: 30rem;
}

.pesquisa input {
    background-color: transparent;
    border: none;
    width: 100%;
}

.pesquisa input:focus {
    border: 0 none;
    outline: 0;
}

.navegacao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 0 1rem;
}

.navegacao img {
    width: 25px;
    height: 25px;
}
