.header {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 1rem 0;
    justify-content: space-between;
}

.header .logo {
    width: 40px;
    height: 35px;
}

body {
    background-color: #efefef;
}
