.Iniciando{
    width: 90%;
    height: auto;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Iniciando input{
    font-size: 21px;
    padding: 1rem;
    margin-top: 1.3rem;
    background-color: #fff;
    color: #504F4F;
    width:90%;
    border: 1px solid #F06024;
}