.header {
    display: flex;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6vh;
    position: absolute;
    left: 5%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.3vh 0 0 0;
    width: 4vw;
    height: 4vh;
}
