.container {
    display: flex;
    padding-top: 7%;
    margin: 0 auto;
    justify-content: center;
    color: #064550;
    flex-direction: column;
    width: 95%;
}
.SBtit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 5vh;
}
.SBtit h1 {
    font-size: 5vh;
}
.subtit {
    font-size: 5vh;
    font-family: poppins;
}
.laranja {
    color: #f06024;
}
.SBcont {
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr 1fr;
    margin-top: 2%;
    align-items: center;
}
.SBimg {
    width: 100%;
    height: 50vh;
    background-image: url(../../../img/sobrenos.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.linhaExterna{
    position: absolute;
    width: 39vw;
    height: 50vh;
    left: 7%;
    margin-top: 2%;
    margin-left: -2%;
    border:  0.8vh solid #f8bb6c;
}
.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
}
.titulo p {
    font-size: 5vh;
}
.conteudo {
    font-size: 3.5vh;
    font-family: poppins-l;
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
