.container{
    display: flex;
    width: 100vw;
    height: 90vh;
    background-color: rgb(41, 41, 41);
    color:white;
    background-image: url(../../../img/entradaSN.png);
    background-position: 50%;
    background-size: cover;
}

.innerContainer{
    display: flex;
    flex-direction: column;
    position:absolute;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 90vh;
}

.boxEntrada{
    background-color: #F16125;
    padding: 0.5% 2% 0.5% 2%;
    font-size: 2vh;
    font-family: poppins-l;
}
.titEntrada{
    font-size: 9vh;
}